.canvas-wrapper {
  width: 100%;
  max-width: 1800px;
  height: 480px;
  padding: 0;
  margin: auto;
  cursor: grab;

  &:active {
    cursor: grabbing;

  }
}

.controls-wrapper {
  padding: 1rem;
  max-width: var(--layout-max-width);
  margin: 0 auto 1rem;

  & > :not(:last-child) {
    margin-right: 1rem;
  }
}

.poi {
  text-decoration: none;
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--primary);
    border-radius: .1rem;
  }

  &:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    bottom: -2px;
    left: -30%;
    transform: rotateZ(-45deg);
    transform-origin: 100% calc(100% - 1px);
    background-color: var(--primary);
    border-radius: .1rem;
  }
}

