* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 30rem;
  margin: 2rem auto;
  padding: 0;
}

.poi {
  border: .0625rem solid dodgerblue;
  padding: .3rem;
  border-radius: .3rem;
  font-family: sans-serif;
  color: dodgerblue;
  text-decoration: none;
}
